<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de Matemática</title>
    <link rel="stylesheet" href="style.css"> </head>
       
<body>

    <div class="quiz-container">
        <h1>Quiz de Matemática - ENEM</h1>
        
        <p id="quiz-pergunta">Carregando pergunta...</p>
        
        <ul id="quiz-opcoes">
            </ul>
        
        <p id="quiz-resposta"></p>
    </div>
    <p id="quiz-resposta"></p>

<button id="btn-tentar-novamente" style="display: none;">Tentar Novamente</button>

    
</body>
</html>