<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/public/Estilos/QuadroJogo.css">
    <script src="/public/JavaScript/Jogo.js"defer></script> 
</head>

<body>
    <div class="questao-container">
        <form id="quiz-form">
            <fieldset>
                <legend></legend>

                <div class="enunciado">
                    <p>
                        
                    </p>
                </div>

                <p class="comando">
                </p>

                <div class="alternativas">
                    <ol>
                        <li>
                            <input type="radio" id="q1-a" name="q" value="A">
                            <label for="q-a"></label>
                        </li>

                        <li>
                            <input type="radio" id="q1-b" name="q" value="B">
                            <label for="q-b"></label>
                        </li>

                        <li>
                            <input type="radio" id="q1-c" name="q" value="C">
                            <label for="q-c"></label>
                        </li>

                        <li>
                            <input type="radio" id="q1-d" name="q" value="D">
                            <label for="q-d"></label>
                        </li>

                        <li>
                            <input type="radio" id="q1-e" name="q" value="E">
                            <label for="q-e"></label>
                        </li>
                    </ol>
                </div>

                <button type="submit">Responder</button>

                <p id="resultado"></p>

            </fieldset>
        </form>
    </div>
</body>

</html>